In [3]:
print ("Hello World!")

Hello World!

In [4]:
print ("Hello", "World!")

Hello World!

In [5]:
print ("Hello", 1)

Hello 1

In [6]:
print (Hello)

NameError: name 'Hello' is not defined

In [7]:
print ('Hello' + 'World!')

HelloWorld!

In [8]:
(67+33)*(25-20)/25

20.0

In [9]:
(4+5*60-17+65/4)**(1/2)

17.414074767267998

In [11]:
2*2**2

8

In [12]:
(1267-20*((5**3)/2)**2)/(8**5*36**(1/2))

-0.3909200032552083

In [14]:
((((9**(1/2))**3)**2)**2)/((-2)**(-3))

-4251528.0

In [23]:
room_temp=10
print(room_temp)

10

In [24]:
type(room_temp)

int

In [40]:
a = float(2)
print(a)
b=str(a)
print(b*2)

2.0
2.02.0

In [41]:
'hey'+'!'

'hey!'

In [42]:
str(int(float('2.4')))

'2'

In [44]:
'42'*2

'4242'

In [6]:
ph = float(input ('Напишите что-нибудь хорошее: \n'))
print (ph)
type (ph)

Напишите что-нибудь хорошее:
55.5
55.5

float

In [13]:
name = input ('Как тебя зовут: \n')
print ('Сегодня Вас зовут ' + name)

Как тебя зовут:
Alexey
Сегодня Вас зовут Alexey

In [17]:
string_1='Hello, world!'
string_2 = 'Python <3' 
string_3 = 'qwerty'
print(string_2)
print (len(string_1))
print (len(string_2))
print (len(string_3))
print ((len(string_1)*len(string_2)*len(string_3))**(1/3))

Python <3
13
9
6
8.88748820522211

In [18]:
string = 'Привет!' 
power = 5
print (string, len(string), len(string)*power)

Привет! 7 35

In [22]:
13.2 % 5

3.1999999999999993

In [25]:
word = 'ОченьДлинноеСлово'
if len(word) > 7:
    print ('Это слово длинное')
else:
    print ('Это слово короткое')

Это слово длинное

In [42]:
number = 162
f = number**(1/2)
if (int(f)**2) == number:
    print (int(f))
else:
    print ('Квадратный корень из', number, '- не целое число')

Квадратный корень из 162 - не целое число

In [43]:
16.2//1

16.0

In [44]:
16.3 % 1

0.3000000000000007

In [47]:
16.2%1 == 0

False

In [52]:
weight = 77
height=1.95
WI = weight / (height)**2
if WI < 18.5:
    print ('Недостаточная масса тела')
elif WI > 24.99:
    print('Избыточная масса тела')
else:
    print ('Норма')
print (WI)

Норма
20.24983563445102

In [58]:
mark = int(input('Укажите оценку: \n'))
#mark = 8
if mark < 4:
    print ('неудовлетворительно')
elif mark >= 4 and mark <= 5:
    print ('удовлетворительно')
elif mark >= 6 and mark <= 7:
    print ('хорошо')
else:
    print ('отлично')

Укажите оценку:
7
хорошо

In [61]:
balance = 7000
if balance < 2500:
    print ('Придётся потерпеть!')
else:
    if balance < 5000:
        print ('Эх, только фастфуд.')
    else:
        print ('Сегодня твой выбор - ресторан!')

Сегодня твой выбор - ресторан!

In [62]:
number = 452
if number % 2 == 0:
    print ('Число делится на 2 без остатка.')
elif number % 3 == 0:
    print ('Число делится на 3 без остатка.')
elif number % 5 == 0:
    print ('Число делится на 5 без остатка.')
else:
    print ('Число не делится ни на 2, ни на 3, ни на 5 без остатка!')

Число делится на 2 без остатка.

In [63]:
a = True 
b = False
a and b or not a and not b

False

In [64]:
"239" < "30" and 239 > 30

True

In [65]:
"239"

'239'

In [67]:
"239" < "30"

True

In [68]:
len ("239")

3

In [69]:
int("239")

239

In [70]:
"5a"<"5b" and 123/2 > 30 or True

True

In [71]:
False and True or 12<5**2 and "Python" > "Ruby"

False

In [72]:
"Android" > "Apple" or "Apple" > "Android"

True

In [73]:
x = 10 
y = 15
y > x**y - 1000 or "test" > "push"

True

In [74]:
flower = 'роза'
color = 'фиолетовый'
if color == 'синий' and color == 'белый' and flower == 'роза':
    print ('Ане понравятся эти цветы')
else:
    print ('Аня не фанат таких цветов')

Аня не фанат таких цветов

In [76]:
height = 180
weight = 92
color = 'синий'
if height > 170 and weight < 80 and color == 'красный':
    print ('Ваша половинка нашлась!')
else:
    print ('Попробуем поискать ещё...')

Попробуем поискать ещё...

In [78]:
fav_word = 'Аппликация'
if fav_word in ('рептилия', 'питон', 'змея'):
    print ('Python')
elif fav_word in ('плюс','плюсы'):
    print ('C++')
elif fav_word in ('рубин', 'кристалл'):
    print ('Ruby')
else:
    print ('Python')

Python

In [91]:
hour = 19
minute = 45
if hour == 10 and minute > 30 or hour>10 and hour<12:
    print ('Преподаватель занят.')
elif hour == 13 and minute > 45 or hour > 13 and hour < 15:
    print ('Преподаватель занят.')
elif hour == 18 or hour == 19 and minute <= 30:
    print ('Преподаватель занят.')
else:
    print ('Преподаватель свободен.')

Преподаватель свободен.

In [111]:
word = 'подшипник'
for i, letter in enumerate(word):
    if i == 0 or i % 2 == 0:
        print(letter)

п
д
и
н
к

In [116]:
year_1 = 2013
year_2 = 2020
for i in range (year_1, year_2+1):
    if i % 400 == 0 or i % 100 != 0 and i % 4 ==0:
        print (i,'год високосный')
    else:
        print (i, 'год невисокосный')

2013 год невисокосный
2014 год невисокосный
2015 год невисокосный
2016 год високосный
2017 год невисокосный
2018 год невисокосный
2019 год невисокосный
2020 год високосный

In [120]:
word = 'Зимушка-зима'
for i, letter in enumerate(word):
    if letter in ('а', 'о', 'и', 'е', 'ё', 'э', 'ы', 'у', 'ю', 'я'):
        print (letter)

и
у
а
и
а

In [122]:
name=input()
name = 'Сергей'
for i,letter in enumerate(name):
    print ('Буква', i+1, 'в этом имени -', letter)

asdasd
Буква 1 в этом имени - С
Буква 2 в этом имени - е
Буква 3 в этом имени - р
Буква 4 в этом имени - г
Буква 5 в этом имени - е
Буква 6 в этом имени - й

In [144]:
num_1 = 25
num_2 = 45
if num_1 <0 or num_2 < num_1:
    print ('Введён неверный диапазон чисел')
else:
    for i,number in enumerate (range (num_1, num_2+1)):
        #print (i, number)
        if i==0 or i % 2==0:
       #     print ('нечетное число', i)
            if number%3==0 or number%5==0:
                print (number)

25
27
33
35
39
45

In [145]:
for i in range(1,10+1):
    print (i, i**2, i**3)

1 1 1
2 4 8
3 9 27
4 16 64
5 25 125
6 36 216
7 49 343
8 64 512
9 81 729
10 100 1000

In [147]:
number = 84
for i in range (1, number+1):
    if number % i == 0:
        print (i)

1
2
3
4
6
7
12
14
21
28
42
84

In [149]:
num_1 = 12
num_2 = 38
for i in range(2, min(num_1,num_2)):
    if num_1 % i == 0 and num_2 % i == 0:
        print (i)

2

In [150]:
n = 10
fib_a = 1
fib_b = 1
for i in range (2, n):
    fib_n = fib_a + fib_b
    fib_a = fib_b
    fib_b = fib_n
print (fib_n)

55

In [151]:
number = 15
for i in range (1,11):
    print (number, 'X', i, '=', number*i)

15 X 1 = 15
15 X 2 = 30
15 X 3 = 45
15 X 4 = 60
15 X 5 = 75
15 X 6 = 90
15 X 7 = 105
15 X 8 = 120
15 X 9 = 135
15 X 10 = 150

In [155]:
num_1 = 1812
num_2 = 2500
delit = 1
for i in range(2, min(num_1,num_2)):
    if num_1 % i == 0 and num_2 % i == 0 and i > delit:
        delit = i
if delit > 1:
    print (delit)
else:
    print ('Общих делителей не найдено')

4

In [162]:
string = 'абстракция'
for i,letter in enumerate(string):
    if letter in ('а', 'б', 'в'):
        continue
    print (letter, end='')

стркция

In [178]:
string = 'Нет'
for i in range (0,5):
    if string == 'Нет':
        print ('Увы, это неправильный ответ')
        if i==4:
            print ('Это безнадёжно!')
    else:
        print ('Это отлично!')
        break

Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Увы, это неправильный ответ
Это безнадёжно!

In [190]:
number = 3
for i in range (2, number):
    if number % i == 0:
        print ('Не является простым')
        break
    if i+1 == number:
        print ('Простое')

Простое

In [1]:
string = 'прстквл'
for i,letter in enumerate (string):
   # print (i, letter)
    if i%2==0 and letter in ['а', 'о', 'и', 'е', 'ё', 'э', 'ы', 'у', 'ю', 'я']:
        print ('Строка мне не нравится!')
        break
    if i+1==len(string):
        print ('Какая хорошая строка!')

Какая хорошая строка!

In [217]:
Y = 170000
Z = 1000000
year=0
while Y < Z:
    year=year+1
    Y=Y*1.1
else:
    print (year)

19

In [219]:
weight = 77
load=0
while load < 400:
    load=load+weight
else:
    print ('Перевес',load-400,'кг')

Перевес 62 кг

In [220]:
current_health = 500
attack = 80
time=0
while current_health > 0:
    current_health -= attack
    time += 1
else:
    print(time)

7

In [224]:
balance = 10000
spent = 2800
#print (balance)
while balance > 0:
    print (balance)
    balance -=spent
    
else:
    print ('Слишком большие расходы')

10000
10000
7200
4400
1600
Слишком большие расходы

In [231]:
volume=1000
delta=5
step=0
while volume > 0:
    volume -= delta
    delta+=5
    step+=1
else:
    print (step)
    print (volume)

20
-50

In [4]:
a = [2, 4, 5]
type (a)

list

In [6]:
a=int()
type(a)

int

In [8]:
animals = 'кошка,собака,хомяк,морская свинка,попугай,лошадь'.split()
print(animals)

['кошка,собака,хомяк,морская', 'свинка,попугай,лошадь']

In [9]:
OurBestStudents = ['Александр', 'Константин', 'Мария', 'Диана', 'Алексей', 
                   'Максим', 'Светлана', 'Арина', 'Серафим', 'Doomer', 
                   'Павел', 'Виктория', 'Елена', 'Галина', 'Вячеслав']
print(OurBestStudents[0])

Александр

In [13]:
colors = ['красный', 'оранжевый', 'жёлтый', 'зелёный', 'голубой', 'синий', 'фиолетовый']
print(colors[1:3])
print (colors)

['оранжевый', 'жёлтый']
['красный', 'оранжевый', 'жёлтый', 'зелёный', 'голубой', 'синий', 'фиолетовый']

In [30]:
body = ['голова', 'руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']
body[1:8]

['руки', 'ноги', 'глаза', 'уши', 'рот', 'нос', 'туловище']

In [31]:
sparta = ['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 
          'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов']
sparta[::-3]

['Арбузов', 'Лисичкин', 'Зайцев', 'Иванов']

In [32]:
sparta[-2:1:-3]

['Капустин', 'Козлов', 'Сидоров']

In [33]:
sparta.append('Gbpltw')

In [34]:
print (sparta)

['Иванов', 'Петров', 'Сидоров', 'Зайцев', 'Дятлов', 'Козлов', 'Лисичкин', 'Огурцов', 'Капустин', 'Арбузов', 'Gbpltw']

In [36]:
my_list = [10, 65, 31, 29, 90, 87, 100]
my_list.sort(reverse=True)
print(my_list)

[100, 90, 87, 65, 31, 29, 10]

In [37]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list[2])

97

In [40]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
result = max(my_list) + min(my_list) + my_list.count('batman')
print(max(my_list))
print(min(my_list))
print(result)

398
1
399

In [44]:
my_list = [1, 10, 45, 31, 12, 54, 111, 398, 97, 63]
my_list.sort(reverse = True)
print(my_list)
new_list = my_list[::2]
print (new_list)
result = 0
for number in new_list:
    result += number
print(result)

[398, 111, 97, 63, 54, 45, 31, 12, 10, 1]
[398, 97, 54, 31, 10]
590

In [45]:
print(my_list[2])

97

In [47]:
my_list = [1]
for i in range(10):
    my_list.append(my_list[i] * 2)
my_list.sort(reverse = True)

print(my_list)

[1024, 512, 256, 128, 64, 32, 16, 8, 4, 2, 1]

In [57]:
fruits = 'яблоко банан апельсин баклажан перец помидор арбуз ананас'.split()


my_list = []
for fruit in fruits:
    my_list.append(fruit[0])
my_list.sort()

my_list.count(my_list[0]) == 3

'а'

In [69]:
my_list = list()
for i in range (1,51):
    if i%3==0:
        my_list.append(i)

result = sum(my_list)
print (result)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]
408

In [73]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
len (raw_list)

10

In [77]:
raw_list = [2, 8, 10, 23, 64, 49, 11, 52, 71, 14]
x_min=min(raw_list)
x_max=max(raw_list)
my_list=list()

for i in raw_list:
    if i%2==0:
        my_list.append(i*x_min)
    else:
        my_list.append(i*x_max)
result=max(my_list)

[4, 16, 20, 1633, 128, 3479, 781, 104, 5041, 28]

In [78]:
numbers = [x*y for x in range(1, 10) for y in [3, 5, 7]]
print (numbers)

[3, 5, 7, 6, 10, 14, 9, 15, 21, 12, 20, 28, 15, 25, 35, 18, 30, 42, 21, 35, 49, 24, 40, 56, 27, 45, 63]

In [79]:
numbers = [x for x in range(3,100) if [x%y for y in range(2,x)].count(0) == 0]
print(numbers)

[3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [83]:
range (2,5)

range(2, 5)

In [95]:
my_list = [x for x in 'синхрофазотрон']
print (my_list)

['с', 'и', 'н', 'х', 'р', 'о', 'ф', 'а', 'з', 'о', 'т', 'р', 'о', 'н']

In [97]:
my_list = []
for x in range(90, 100):
    first_digit = x//10
    last_digit = x%10
    my_list.append(first_digit + last_digit)
    
print (my_list)

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [101]:
my_list = [((x//10)+(x%10)) for x in range(90,100)]
print (my_list)

[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [104]:
phones = ['+79033923029', '+78125849204', '+79053049385','+79053049385', '+79265748370', '+79030598495' ]
type(phones)

list

In [107]:
book = [['+79033923029', 'Мария Никитина'], ['+78125849204', 'Егор Савичев'], ['+79053049385', 'Александр Пахомов'], ['+79265748370', 'Алина Егорова'], ['+79030598495', 'Руслан Башаров']]
phones=[]
for i in book:
    phones.append(i[0])
print(phones)

['+79033923029', '+78125849204', '+79053049385', '+79265748370', '+79030598495']

In [112]:
employee_base={'Мария Никитина': '+79033923029', 'Егор Савичев': '+78125849204',  'Александр Пахомов' : '+79053049385',  'Алина Егорова' : '+79265748370', 'Руслан Башаров': '+79030598495'}
print(employee_base['Алина Егорова'])

+79265748370

In [114]:
draw_dict = {
'Россия': 'A',
'Португалия': 'B',
'Франция': 'C',
'Дания': 'C',
'Египет': 'A'
}
country = 'Италия'
if country in draw_dict:
    group=draw_dict[country]
else:
    group='unknown'

print(group)

unknown

In [116]:
draw_dict = {
'Россия': 'A',
'Португалия': 'B',
'Франция': 'C',
'Дания': 'C',
'Египет': 'A'
}
country = 'Италия'
draw_dict.setdefault (country, 'unknown')
group=draw_dict[country]

print(group)

unknown

In [118]:
draw_dict = {
'Россия': 'A',
'Португалия': 'B',
'Франция': 'C',
'Дания': 'C',
'Египет': 'A'
}
draw_new = dict()
for cntr in draw_dict.keys():
    if draw_dict[cntr]== 'A':
        draw_new[cntr]= 'A'

print (draw_new)

{'Россия': 'A', 'Египет': 'A'}

In [119]:
draw_dict = {
'Россия': 'A',
'Португалия': 'B',
'Франция': 'C',
'Дания': 'C',
'Египет': 'A'
}
draw_new = dict()
for country, group in draw_dict.items():
    if group=='A':
        draw_new[country]=group

In [120]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]
pulsometer_id=csv_file[5][0]

In [127]:
csv_file = [
    ['100412', 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 9],
    ['100728', 'Скейтборд Jdbug RT03', 32],
    ['100732', 'Роллерсерф Razor RipStik Bright', 11],
    ['100803', 'Ботинки для сноуборда DC Tucknee', 20],
    ['100898', 'Шагомер Omron HJA-306', 2],
    ['100934', 'Пульсометр Beurer PM62', 17],
]

csv_file_filtered=list()
for rec in csv_file:
    if rec[2] > 10:
        csv_file_filtered.append(rec)
print(csv_file_filtered)

[['100728', 'Скейтборд Jdbug RT03', 32], ['100732', 'Роллерсерф Razor RipStik Bright', 11], ['100803', 'Ботинки для сноуборда DC Tucknee', 20], ['100934', 'Пульсометр Beurer PM62', 17]]

In [144]:
csv_dict = [
    {'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9},
    {'id': '100728', 'position': 'Скейтборд Jdbug RT03', 'count': 32},
    {'id': '100732', 'position': 'Роллерсерф Razor RipStik Bright', 'count': 11},
    {'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20},
    {'id': '100898', 'position': 'Шагомер Omron HJA-306', 'count': 2},
    {'id': '100934', 'position': 'Пульсометр Beurer PM62', 'count': 17},
]

csv_dict_boots=list()
rec=dict()


for rec in csv_dict:
   # print (rec)
    if 'Ботинки' in rec['position']:
        csv_dict_boots.append(rec)
for rec in csv_dict_boots:
    print (rec, '\n')

{'id': '100412', 'position': 'Ботинки для горных лыж ATOMIC Hawx Prime 100', 'count': 9}

{'id': '100803', 'position': 'Ботинки для сноуборда DC Tucknee', 'count': 20}

In [156]:
defect_stats = [
{'step number': 1, 'damage': 0.98},
{'step number': 2, 'damage': 0.99},
{'step number': 3, 'damage': 0.99},
{'step number': 4, 'damage': 0.96},
{'step number': 5, 'damage': 0.97},
{'step number': 6, 'damage': 0.97},
]

status=1

for i in range(len (defect_stats)):
   # print(defect_stats[i])
    status=status*defect_stats[i]['damage']
    if status<0.9:
        break
print (defect_stats[i]['step number'])

5

In [28]:
currency = {
'AMD': {
'Name': 'Армянских драмов',
'Nominal': 100,
'Value': 13.121
},

'AUD': {
'Name': 'Австралийский доллар',
'Nominal': 1,
'Value': 45.5309
},

'INR': {
'Name': 'Индийских рупий',
'Nominal': 100,
'Value': 92.9658
},

'MDL': {
'Name': 'Молдавских леев',
'Nominal': 10,
'Value': 36.9305
},
}
exchange =dict()
for CUR, meta in currency.items():
    exchange[str(meta['Value']/meta['Nominal'])]=CUR
print(exchange[min(exchange.keys())])

AMD

In [35]:
bodycount = {
	'Проклятие Черной жемчужины': {
		'человек': 17
	}, 

	'Сундук мертвеца': {
		'человек': 56,
		'раков-отшельников': 1
	},

	'На краю света': {
		'человек': 88
	},

	'На странных берегах': {
		'человек': 56,
		'русалок': 2,
		'ядовитых жаб': 3,
		'пиратов зомби': 2
	}
}
sum=0
for film,data in bodycount.items():
    for creature in data.keys():
        sum=sum+data[creature]
print(sum)

225

In [33]:
import json
with open('data.json', 'rb') as infile:
    data = json.load(infile)

data_list = data['events_data']

categories = []
for item in data_list:
    category = item['category']
    categories.append(category)

    import collections
c = collections.Counter()
print(categories)
for category in categories:
    c[category] += 1
print (c)

print(item)

['page', 'page', 'page', 'datepicker', 'table', 'table', 'table', 'table', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'report', 'report', 'report', 'report', 'page', 'report', 'page', 'page', 'page', 'table', 'table', 'table', 'table', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'report', 'page', 'page', 'page', 'page', 'page', 'report', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'datepicker', 'page', 'page', 'page', 'page', 'page', 'page', 'report', 'table', 'table', 'datepicker', 'datepicker', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page', 'page']
Counter({'page': 74, 'datepicker': 15, 'table': 10, 'report': 8})
{'id': 57540495, 'client_id': 49700, 'user_id': 84946, 'category': 'page', 'action': 'enter', 'options': {'name': 'landing'}}

In [107]:
import json
import collections
with open('data.json', 'rb') as infile:
    data = json.load(infile)

data_list = data['events_data']

         
c = collections.Counter()

client_id=[]

for i in range(len(data_list)):
    #if data_list[i]['client_id']==62602 and data_list[i]['category']=='page':
        client_id.append(data_list[i][''])

#print(client_id)    
#for ID in client_id:
#    c[ID]+=1

#print(c)
#print(len(c))
print(len(client_id))

9

In [24]:
import json
import collections
with open('data.json', 'rb') as infile:
    data = json.load(infile)

data_list = data['events_data']
c = collections.Counter()

i = int()
client_report=list()
data_list[1]


for i in range(len(data_list)):
    if data_list[i]['category'] == 'report':
        client_report.append(data_list[i]['client_id'])
print(client_report)
        
for counter in client_report:
    c[counter] += 1

print(len(c))

[60459, 60459, 60459, 60459, 60459, 62602, 62602, 58113]
3

In [31]:
import json
import collections
with open('data.json', 'rb') as infile:
    data = json.load(infile)

i = int()
client_report=list()    
    
data_list = data['events_data']
c = collections.Counter()


for i in range(len(data_list)):
    if data_list[i]['category'] == 'report':
        client_report.append(data_list[i]['client_id'])

for counter in client_report:
    c[counter] += 1        
        
#client_report.sort()
        
print(sorted(c))

[58113, 60459, 62602]

In [46]:
proverb = 'Программисты - это устройства, преобразующие кофеин в код.'
new_proverb = str()
i = int()

for i in range(len(proverb)):
    if i%2 == 0:
        new_proverb = new_proverb + proverb[i+1]
    else:
        new_proverb +=proverb[i-1]
print(new_proverb)

рПгоарммсиыт- э оту тсорсйвт,ап ербоарузщюеик фоие н вок.д

In [76]:
basic_word = str()
inverted_word= str()

basic_word = 'программирование'

for i in range(1, len(basic_word)+1):
    inverted_word = inverted_word + basic_word[-i]

if basic_word == inverted_word:
    print ('Слово "'+ basic_word +'" является палиндромом')
else:
    print ('Слово "'+ basic_word +'" - это не палиндром')

Слово "ого" является палиндромом

In [80]:
email = 'blabla@gmail.com'
print(email[email.find("@")+1:])

gmail.com

In [90]:
number = 56.257
num_str= str(number)
sum = 0

for digit in num_str[num_str.find('.')+1:]:
    sum = sum + int(digit)
    
print (sum)

14

In [141]:
emails_list = ['vasya@mail.ru', 
          'akakiy@yandex.ru', 
          'spyderman@yandex.ru', 
          'XFiles@gmail.com', 
          'hello@mail.ru', 
          'noname@gmail.com', 
          'DonaldTrump@mail.ru', 
          'a768#af@yandex.ru', 
          'Ivan_Ivanovich@yandex.ru', 
          'thebestmail@yandex.ru']

import collections
domen_names = list()
i=int()
count = int()
emails_dict = dict()
c = collections.Counter()

for i in range(len(emails_list)):
    domen_names.append(emails_list[i][emails_list[i].find('@')+1:])

for domens in domen_names:
    c[domens] += 1

emails_dict = dict.fromkeys(c.keys())
for domen in emails_dict.keys():
    emails_dict[domen] = c[domen]
    
print (emails_dict)



#for count in c.values():
#    ema

{'mail.ru': 3, 'yandex.ru': 5, 'gmail.com': 2}

In [172]:
emails_list = ['vasya@mail.ru', 
          'akakiy@yandex.ru', 
          'spyderman@yandex.ru', 
          'XFiles@gmail.com', 
          'hello@mail.ru', 
          'noname@gmail.com', 
          'DonaldTrump@mail.ru', 
          'a768#af@yandex.ru', 
          'Ivan_Ivanovich@yandex.ru', 
          'thebestmail@yandex.ru']


domen_names = list()
i=int()
count = int()
emails_dict = dict()
buffer = str()
domen_list=list()

for i in range(len(emails_list)):
        domen_names.append(emails_list[i][emails_list[i].find('@')+1:])

        
for i in range(len(domen_names)):
    if domen_names[i] in buffer:
        continue
    else:
        domen_list.append(domen_names[i])
        buffer = buffer + domen_names[i]

        
        
emails_dict = dict.fromkeys(domen_list)
for domen in emails_dict.keys():
    emails_dict[domen] = domen_names.count(domen)
    
print (emails_dict)

{'mail.ru': 3, 'yandex.ru': 5, 'gmail.com': 2}

In [177]:
string = 'Тяжёлая интернет-зависимость - это когда ты выходишь из интернета, а он из тебя нет.'
string = string.replace(':', ':)')
string = string.replace('.', ':)')
string = string.replace(',', ':)')
string = string.replace('!', ':)')
string = string.replace('?', ':)')
string = string.replace(' - ', ':)')
print (string)

Тяжёлая интернет-зависимость:)это когда ты выходишь из интернета:) а он из тебя нет:)

In [183]:
name = 'Севастиан'
i=int()
glas = ('а', 'о', 'и', 'е', 'ё', 'э', 'ы', 'у', 'ю', 'я')

for i in range(len(name)):
    if name[i].lower() in glas:
        print (name[i],'- гласная буква')
    else:
        print (name[i],'- согласная буква')

С - согласная буква
е - гласная буква
в - согласная буква
а - гласная буква
с - согласная буква
т - согласная буква
и - гласная буква
а - гласная буква
н - согласная буква

In [184]:
\d* \+\s[0-9]* \W\s\d+

SyntaxError: unexpected character after line continuation character (<ipython-input-184-98a601ef85d4>, line 1)

In [185]:
import re
pattern = re.compile('[А-Я][а-я]*\W')

string = '!!! Йо! Учиться, учиться и учиться! Вперёд! Только вперёд!' 

pattern.findall(string)

['Йо!', 'Учиться,', 'Только ']

In [226]:
text = 'Разработка языка Python была начата в конце 1980-х годов сотрудником голландского института CWI Гвидо ван Россумом. Для распределённой ОС Amoeba требовался расширяемый скриптовый язык, и Гвидо начал писать Python на досуге, позаимствовав некоторые наработки для языка ABC (Гвидо участвовал в разработке этого языка, ориентированного на обучение программированию). В феврале 1991 года Гвидо опубликовал исходный текст в группе новостей alt.sources. Название языка произошло вовсе не от вида пресмыкающихся. Автор назвал язык в честь популярного британского комедийного телешоу 1970-х "Летающий цирк Монти Пайтона".'

import re
pattern = re.compile('[аоиеёэыуюяАОИЕЁЭЫУЮЯ]\s[^аоиеёэыуюяАОИЕЁЭЫУЮЯ^a-z^A-Z^0-9]')

(pattern.findall(text))
len(pattern.findall(text))

22

In [26]:
f = open('StudentsPerformance.xls') 
num = int()


for line in f:
    if 'bachelor\'s degree' in line:
        num +=1

        
print (num)
f.close()

118

In [36]:
f = open('StudentsPerformance.xls') 

num = int()
education_deg = list()

for line in f:
    if  line.split(',')[2] in education_deg or line.split(',')[2] == '"parental level of education"':
        continue
    else:
        num +=1
        education_deg.append(line.split(',')[2])

        
print (num)
print (education_deg)
f.close()

6
['"bachelor\'s degree"', '"some college"', '"master\'s degree"', '"associate\'s degree"', '"high school"', '"some high school"']

In [40]:
f = open('StudentsPerformance.xls') 

num_normal = int()
num_other = int()
normal = int()

for line in f:
    if  line.split(',')[3] == '"standard"':
        num_normal +=1
    else:
        num_other +=1
        
normal = num_normal/ (num_normal+num_other-1)

print(num_normal)
print(num_other-1)

print (normal)

f.close()

645
355
0.645

In [41]:
f = open('StudentsPerformance.xls') 

num = int()

for line in f:
    if  line.split(',')[1] == '"group C"':
        num +=1
        
print (num)

f.close()

319

In [42]:
f = open('StudentsPerformance.xls') 

num = int()
race_num = list()

for line in f:
    if  line.split(',')[1] in race_num or line.split(',')[1] == '"race/ethnicity"':
        continue
    else:
        num +=1
        race_num.append(line.split(',')[1])

        
print (num)
print (race_num)
f.close()

5
['"group B"', '"group C"', '"group A"', '"group D"', '"group E"']

In [58]:
import re
pattern = re.compile('\d+')

exams = []
total_standard = int()
total = int()
average = float()

f = open('StudentsPerformance.xls')

for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        new_line = []
        for item in info:
            if pattern.search(item) != None:
                new_line.append(int(pattern.search(item)[0]))
            else:
                new_line.append(item[1:-1])
        exams.append(new_line)

line = []
for line in exams:
    if line[7] > 90:
        #total_score += line[6]
        total += 1
        if line[3] == 'standard':
            total_standard += 1

average = total_standard/ (total)

print (total)

#line =[]
#num = int()
#for line in exams:
#    if line[0] == 'female' and line[6] < average:
#        num += 1

print (average)
#print (num)

68
0.8676470588235294

In [88]:
students = {}

f = open('StudentsPerformance.xls')

for line in f:
  #  print (line)
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        gender = info[0][1:-1]
        lunch = info[2][1:-1]
        score = int(info[5][1:-1])
        if score > 90:
            if gender in students:
                if lunch in students[gender]:
                    students[gender][lunch] += 1
                else:
                    students[gender][lunch] = 1
            else:
                students[gender] = {}
                students[gender][lunch] = 1  

print (students['female'])

{"bachelor's degree": 7, 'some high school': 2, 'high school': 1, 'some college': 2, "associate's degree": 7, "master's degree": 2}

In [102]:
import re
pattern = re.compile('\d+')

exams = []
total_score = int()
total = int()
average = float()
max_score = int()

f = open('StudentsPerformance.xls')

for line in f:
    info = line.split(',')
    if info[0] == '"gender"':
        continue
    else:
        new_line = []
        for item in info:
            if pattern.search(item) != None:
                new_line.append(int(pattern.search(item)[0]))
            else:
                new_line.append(item[1:-1])
        exams.append(new_line)

line = []
#print (exams)
for line in exams:
    if line[5] > max_score:
        max_score = line[5]

print(max_score)


for line in exams:
    if line[3] == 'free/reduced':
        total_score += line[7]
        total += 1
#        if line[3] == 'standard':
 #           total_standard += 1

average = total_score/ (total)

#print (total)

#line =[]
#num = int()
#for line in exams:
#    if line[0] == 'female' and line[6] < average:
#        num += 1

print (average)
#print (num)

100
63.02253521126761

In [1]:
def power(x, y):
    result = x**y
    return result
result(2,3)

NameError: name 'result' is not defined

In [26]:
def get_median (nums):
    nums = sorted (nums)
    rng = int(len(nums))
 #   print(rng)
    print (nums)
    if rng % 2 !=0:
        result = nums[int(rng/2)]
    else:
        result = (nums[int(rng/2-1)]+nums[int(rng/2)])/2
       # print (nums[int(rng/2)])
      #  print (nums[int(rng/2-1)])
    return result

get_median([5, 2, 1, 3, 4, 55, 34])

[1, 2, 3, 4, 5, 34, 55]

4

In [8]:
nums = [1, 5, 10, 6]
nums = sorted(nums)
print(nums)

[1, 5, 6, 10]

In [27]:
all_the = sum
magic = range
print(all_the(magic(5)))

10

In [28]:
abs (-1)

1

In [1]:
guests = ["Boris", "Ivan", "Bob"]  
list(map(lambda name: "Mr. " + name, guests))

['Mr. Boris', 'Mr. Ivan', 'Mr. Bob']

In [11]:
values = [4, 8, 15, 16, 23, 42]
mean = 18
mean_list=list()
for i in range(len(values)):
    mean_list.append(mean)

result = map(lambda x, y: y-x, mean_list, values)
print (list(result))

[-14, -10, -3, -2, 5, 24]

In [14]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = map(lambda x: x-mean, values)
print (list(result))

[-14, -10, -3, -2, 5, 24]

In [16]:
values = [4, 8, 15, 16, 23, 42]
mean = 18

result = list(filter(lambda x: (x-mean) > 0, values))
print (result)

[4, 8, 15, 16]

In [18]:
values = [-7, -7, 7, 7]
std = 42

def count_std():
    mean = sum(values)/len(values)
    std = (sum([(value-mean)**2 for value in values])/len(values))**0.5
    return std

def normalize(value):
    result = value/std
    return result 

print(normalize(21))

0.5

In [22]:
def normalize (numbers, mean = 0, std = 1):
    result = list()
    for num in numbers:
        print (num)
        result.append((num - mean)/std)
    return result 

normalize([10, 20])

10
20

[10.0, 20.0]

In [23]:
def sum_args(*ar):  
    result = 0  
    for num in ar:  
        result += num  
    return result

In [24]:
def show_keys(**kwargs):
    print(' '.join(kwargs.keys()))

show_keys(verbose=True, mode='constant')

verbose mode

In [2]:
def count_letters(sentence, average = False):
    snt_lst = sentence.split(' ')
    count = 0
    for word in snt_lst:
        count += len(word)
    if average == False:
        result = count
    else:
        result = count / len(snt_lst)
    return result

count_letters("Beep boop", average=True)

4.0

In [1]:
words = ["sofa", "suitcase", "valise", "picture", "basket", "carton", "doggie"]
list(map(lambda w: sorted(w)[0], words))[5]

'a'

In [1]:
import pandas as pd

df = pd.DataFrame({'col1': [1, 2], 'col2': [3, 4]})
display(df)

   col1  col2
0     1     3
1     2     4

In [3]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.tail(7))

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
12890,13119,J. Young,18,Scotland,Swindon Town,450000,1000,ST,28,47,...,58,50,15,17,14,11,15,12,12,11
12891,13120,D. Walsh,18,Republic of Ireland,Waterford FC,60000,1000,RB,22,23,...,38,43,44,47,53,9,10,9,11,13
12892,13121,J. Lundstram,19,England,Crewe Alexandra,1100000,1000,CM,34,38,...,43,45,40,48,47,10,13,7,8,9
12893,13122,N. Christoffersson,19,Sweden,Trelleborgs FF,60000,1000,ST,23,52,...,43,42,22,15,19,10,9,9,5,12
12894,13123,B. Worman,16,England,Cambridge United,60000,1000,ST,25,40,...,55,41,32,13,11,6,5,10,6,13
12895,13124,D. Walker-Rice,17,England,Tranmere Rovers,60000,1000,RW,44,50,...,50,46,20,25,27,14,6,14,8,9
12896,13125,G. Nugent,16,England,Tranmere Rovers,60000,1000,CM,41,34,...,33,43,40,43,50,10,15,9,12,9

In [5]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12897 entries, 0 to 12896
Data columns (total 42 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       12897 non-null  int64
 1   Name             12897 non-null  object
 2   Age              12897 non-null  int64
 3   Nationality      12897 non-null  object
 4   Club             12897 non-null  object
 5   Value            12897 non-null  int64
 6   Wage             12897 non-null  int64
 7   Position         12897 non-null  object
 8   Crossing         12897 non-null  int64
 9   Finishing        12897 non-null  int64
 10  HeadingAccuracy  12897 non-null  int64
 11  ShortPassing     12897 non-null  int64
 12  Volleys          12897 non-null  int64
 13  Dribbling        12897 non-null  int64
 14  Curve            12897 non-null  int64
 15  FKAccuracy       12897 non-null  int64
 16  LongPassing      12897 non-null  int64
 17  BallControl      12897 non-null  int64
 18  Acceleration     12897 non-null  int64
 19  SprintSpeed      12897 non-null  int64
 20  Agility          12897 non-null  int64
 21  Reactions        12897 non-null  int64
 22  Balance          12897 non-null  int64
 23  ShotPower        12897 non-null  int64
 24  Jumping          12897 non-null  int64
 25  Stamina          12897 non-null  int64
 26  Strength         12897 non-null  int64
 27  LongShots        12897 non-null  int64
 28  Aggression       12897 non-null  int64
 29  Interceptions    12897 non-null  int64
 30  Positioning      12897 non-null  int64
 31  Vision           12897 non-null  int64
 32  Penalties        12897 non-null  int64
 33  Composure        12897 non-null  int64
 34  Marking          12897 non-null  int64
 35  StandingTackle   12897 non-null  int64
 36  SlidingTackle    12897 non-null  int64
 37  GKDiving         12897 non-null  int64
 38  GKHandling       12897 non-null  int64
 39  GKKicking        12897 non-null  int64
 40  GKPositioning    12897 non-null  int64
 41  GKReflexes       12897 non-null  int64
dtypes: int64(38), object(4)
memory usage: 4.1+ MB

None

In [6]:
import pandas as pd

football = pd.read_csv('data_sf.csv')
display(football.describe())

,Unnamed: 0,Age,Value,Wage,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,...,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
count,12897.000000,12897.000000,1.289700e+04,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,...,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000,12897.000000
mean,6605.040862,24.795379,2.112449e+06,7517.562224,47.076374,42.876328,50.202528,56.026983,40.295030,52.461735,...,46.459874,55.942932,45.655811,46.186710,44.386679,17.218345,16.962317,16.797938,16.950221,17.315965
std,3782.545526,4.872212,6.498424e+06,23061.985387,18.043470,19.096935,17.281593,14.740436,17.080687,18.871643,...,15.479313,11.280631,19.456346,21.172586,20.726546,18.085618,17.349624,16.971411,17.369297,18.335817
min,0.000000,16.000000,0.000000e+00,1000.000000,5.000000,2.000000,4.000000,7.000000,4.000000,4.000000,...,5.000000,12.000000,3.000000,2.000000,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3357.000000,21.000000,2.500000e+05,1000.000000,35.000000,28.000000,43.000000,50.000000,28.000000,45.000000,...,37.000000,49.000000,29.000000,25.000000,23.000000,8.000000,8.000000,8.000000,8.000000,8.000000
50%,6622.000000,24.000000,5.000000e+05,2000.000000,51.000000,45.000000,54.000000,60.000000,41.000000,58.000000,...,47.000000,56.000000,51.000000,54.000000,51.000000,11.000000,11.000000,11.000000,11.000000,11.000000
75%,9876.000000,28.000000,8.500000e+05,4000.000000,61.000000,59.000000,62.000000,65.000000,53.000000,65.000000,...,58.000000,63.000000,62.000000,64.000000,62.000000,14.000000,14.000000,14.000000,14.000000,14.000000
max,13125.000000,45.000000,1.185000e+08,565000.000000,93.000000,95.000000,94.000000,93.000000,90.000000,97.000000,...,91.000000,96.000000,93.000000,93.000000,91.000000,90.000000,92.000000,91.000000,90.000000,94.000000

In [3]:
import pandas as pd
football = pd.read_csv('data_sf.csv')


with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display(football.describe(include = ['object']))

                Name Nationality             Club Position
count          12897       12897            12897    12897
unique         12326         156              650       27
top     J. Rodríguez     England  Shonan Bellmare       GK
freq               9        1368               30     1641

In [5]:
df = pd.DataFrame([[i,i+1.2,i+2, 'hi'] for i in range(10)],
                  columns = ['foo', 'bar', 'baz', 'foobar'])
display(df)

   foo   bar  baz foobar
0    0   1.2    2     hi
1    1   2.2    3     hi
2    2   3.2    4     hi
3    3   4.2    5     hi
4    4   5.2    6     hi
5    5   6.2    7     hi
6    6   7.2    8     hi
7    7   8.2    9     hi
8    8   9.2   10     hi
9    9  10.2   11     hi

In [19]:
import pandas as pd
football = pd.read_csv('data_sf.csv')

football = football[(football.Age < football.Age.mean()) & (football.Club == 'FC Barcelona')]

with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    display (football)

,Unnamed: 0,Name,Age,Nationality,Club,Value,Wage,Position,Crossing,Finishing,HeadingAccuracy,ShortPassing,Volleys,Dribbling,Curve,FKAccuracy,LongPassing,BallControl,Acceleration,SprintSpeed,Agility,Reactions,Balance,ShotPower,Jumping,Stamina,Strength,LongShots,Aggression,Interceptions,Positioning,Vision,Penalties,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes
42,42,S. Umtiti,24,France,FC Barcelona,57000000,205000,CB,69,51,79,81,70,69,72,62,73,77,71,73,68,82,66,83,89,78,84,74,81,87,58,58,61,82,90,89,86,15,10,14,12,15
141,141,O. Dembélé,21,France,FC Barcelona,40000000,155000,RW,78,78,43,78,76,90,78,64,70,83,93,92,90,82,85,83,59,73,46,70,54,36,79,84,75,75,42,30,33,6,6,14,10,13
190,190,Arthur,21,Brazil,FC Barcelona,32500000,125000,LCM,70,72,58,85,63,82,68,60,80,83,68,70,79,81,86,76,83,78,62,74,73,75,77,82,69,84,65,76,70,6,13,13,11,12
195,195,C. Lenglet,23,France,FC Barcelona,26000000,135000,LCB,36,23,78,78,24,60,25,27,69,76,72,73,62,79,60,58,79,73,80,35,80,82,47,60,43,74,85,82,81,10,10,9,12,7
235,235,Nélson Semedo,24,Portugal,FC Barcelona,20000000,125000,RB,74,50,58,73,42,80,61,30,65,78,91,92,88,82,83,74,80,91,62,60,77,80,72,62,38,75,75,78,79,16,12,10,14,12
1464,1515,Aleñá,20,Spain,FC Barcelona,6000000,58000,CM,66,66,34,72,41,76,68,59,68,75,78,76,75,71,75,66,52,66,63,72,52,68,67,74,73,70,70,62,48,12,9,10,8,12
5377,5539,Chumi,19,Spain,FC Barcelona,1000000,11000,CB,38,30,60,62,33,50,34,36,51,60,57,61,49,60,61,47,74,62,67,36,55,62,34,41,50,62,70,65,63,7,14,9,11,14
5613,5777,Jorge Cuenca,18,Spain,FC Barcelona,850000,11000,CB,40,27,67,65,31,29,29,26,58,55,57,61,59,65,64,55,69,66,60,36,67,66,21,45,44,57,62,66,63,10,12,5,14,12
6124,6293,Guillem Jaime,19,Spain,FC Barcelona,975000,13000,RW,63,54,49,62,57,71,59,46,57,68,69,68,68,64,75,64,52,62,51,53,49,57,57,59,49,66,52,55,56,9,11,12,10,6
7312,7493,Ezkieta,21,Spain,FC Barcelona,525000,10000,GK,16,12,17,28,15,17,16,19,27,19,41,49,36,63,45,26,57,41,64,14,25,20,15,30,24,33,13,17,15,65,58,59,59,64
9028,9226,Iñaki Peña,19,Spain,FC Barcelona,450000,4000,GK,10,6,11,26,5,12,12,12,24,18,33,28,42,60,51,24,63,27,54,8,17,6,5,39,17,38,9,10,11,63,57,64,57,62

In [38]:
import pandas as pd
football = pd.read_csv('data_sf.csv')

football[(football.Composure > 0.9 * football.Composure.max()) & 
         (football.Reactions > 0.9 * football.Reactions.max()) ].Age.min()

24

In [56]:
import pandas as pd
football = pd.read_csv('data_sf.csv')

football[football.Value > football.Value.mean()].Nationality.describe()

count      1747
unique       98
top       Spain
freq        211
Name: Nationality, dtype: object

In [61]:
import pandas as pd
football = pd.read_csv('data_sf.csv')

A = football[(football.Position == 'GK') & (football.GKReflexes == football.GKReflexes.max())].Wage.mean()
B = football[(football.Position == 'GK') & (football.GKHandling == football.GKHandling.max())].Wage.mean()
A/B

2.765957446808511

In [5]:
import pandas as pd
football = pd.read_csv('data_sf.csv')

A = football[football.Aggression == football.Aggression.max()].ShotPower.mean()
B = football[football.Aggression == football.Aggression.min()].ShotPower.mean()
A/B

2.076923076923077

In [17]:
import pandas as pd
df = pd.read_csv('data_sf.csv')


small_df = df[df.columns[1:8]].head(25)
small_df

,Name,Age,Nationality,Club,Value,Wage,Position
0,L. Messi,31,Argentina,FC Barcelona,110500000,565000,RF
1,Cristiano Ronaldo,33,Portugal,Juventus,77000000,405000,ST
2,Neymar Jr,26,Brazil,Paris Saint-Germain,118500000,290000,LW
3,De Gea,27,Spain,Manchester United,72000000,260000,GK
4,K. De Bruyne,27,Belgium,Manchester City,102000000,355000,RCM
5,E. Hazard,27,Belgium,Chelsea,93000000,340000,LF
6,L. Modrić,32,Croatia,Real Madrid,67000000,420000,RCM
7,L. Suárez,31,Uruguay,FC Barcelona,80000000,455000,RS
8,Sergio Ramos,32,Spain,Real Madrid,51000000,380000,RCB
9,J. Oblak,25,Slovenia,Atlético Madrid,68000000,94000,GK
10,R. Lewandowski,29,Poland,FC Bayern München,77000000,205000,ST
11,T. Kroos,28,Germany,Real Madrid,76500000,355000,LCM
12,D. Godín,32,Uruguay,Atlético Madrid,44000000,125000,CB
13,David Silva,32,Spain,Manchester City,60000000,285000,LCM
14,N. Kanté,27,France,Chelsea,63000000,225000,LDM
15,P. Dybala,24,Argentina,Juventus,89000000,205000,LF
16,H. Kane,24,England,Tottenham Hotspur,83500000,205000,ST
17,A. Griezmann,27,France,Atlético Madrid,78000000,145000,CAM
18,M. ter Stegen,26,Germany,FC Barcelona,58000000,240000,GK
19,T. Courtois,26,Belgium,Real Madrid,53500000,240000,GK
20,Sergio Busquets,29,Spain,FC Barcelona,51500000,315000,CDM
21,E. Cavani,31,Uruguay,Paris Saint-Germain,60000000,200000,LS
22,M. Neuer,32,Germany,FC Bayern München,38000000,130000,GK
23,S. Agüero,30,Argentina,Manchester City,64500000,300000,ST
24,G. Chiellini,33,Italy,Juventus,27000000,215000,LCB

In [32]:
import pandas as pd
df = pd.read_csv('data_sf.csv')
small_df = df[df.columns[1:8]].head(25)


s = small_df['Nationality'].value_counts()
display(s)

Spain        4
Uruguay      3
Argentina    3
Belgium      3
Germany      3
France       2
Brazil       1
Portugal     1
Poland       1
Italy        1
England      1
Croatia      1
Slovenia     1
Name: Nationality, dtype: int64

In [39]:
import pandas as pd
df = pd.read_csv('data_sf.csv')


s = df['Position'].value_counts(normalize=True)
display(s[s<0.01])

LS     0.009382
RS     0.008839
RWB    0.005428
LWB    0.004652
CF     0.003954
LF     0.000620
RF     0.000465
LAM    0.000465
RAM    0.000388
Name: Position, dtype: float64

In [41]:
small_df = df[df.columns[0:7]].head(25)

s = small_df['Wage'].value_counts(bins=4)

s.index[3].left
small_df['Wage'] > s.index[3].left

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7      True
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: Wage, dtype: bool

In [52]:
import pandas as pd
df = pd.read_csv('data_sf.csv')


s = df['FKAccuracy'].value_counts(bins=5)
display(s)

(21.2, 39.4]     4859
(39.4, 57.6]     3957
(57.6, 75.8]     2108
(2.908, 21.2]    1760
(75.8, 94.0]      213
Name: FKAccuracy, dtype: int64

In [6]:
import pandas as pd
df = pd.read_csv('data_sf.csv')


s = df['FKAccuracy'].value_counts()
s = s.reset_index()
display(s)

    index  FKAccuracy
0      32         382
1      35         361
2      42         355
3      40         353
4      39         343
..    ...         ...
84      3           1
85     90           1
86     92           1
87     93           1
88     94           1

[89 rows x 2 columns]

In [13]:
import pandas as pd
df = pd.read_csv('data_sf.csv')


spain = df[df.Nationality == 'Spain']
sal = spain['Wage'].value_counts(normalize=True, bins=4)


display(sal)

(620.999, 95750.0]      0.970194
(95750.0, 190500.0]     0.016393
(190500.0, 285250.0]    0.008942
(285250.0, 380000.0]    0.004471
Name: Wage, dtype: float64

In [17]:
import pandas as pd
df = pd.read_csv('data_sf.csv')


MU = df[df.Club == 'Manchester United']
count = MU['Nationality'].nunique()
print (count)

13

In [24]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

brz_juv = df[(df.Nationality == 'Brazil') &  (df.Club == 'Juventus')]
names = brz_juv['Name'].unique()
display(names)

array(['Alex Sandro', 'Douglas Costa'], dtype=object)

In [33]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

filt = df[df.Age > 35]
clubs = filt.Club.value_counts()

display (clubs)

Club Atlético Huracán          4
Hokkaido Consadole Sapporo     4
Gimnasia y Esgrima La Plata    3
Morecambe                      3
Estudiantes de La Plata        3
                              ..
Shamrock Rovers                1
Grimsby Town                   1
Bury                           1
Urawa Red Diamonds             1
SV Wehen Wiesbaden             1
Name: Club, Length: 212, dtype: int64

In [74]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

age = df[df.Nationality == 'Argentina'].Age.value_counts(bins = 4)
display(age)

(22.25, 28.5]      200
(15.974, 22.25]    197
(28.5, 34.75]      128
(34.75, 41.0]       49
Name: Age, dtype: int64

In [45]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

spain = len(df[(df.Nationality == 'Spain') & (df.Age == 21)])/len(df[df.Nationality == 'Spain']) * 100

print (spain)

11.773472429210134

In [51]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

age = df['Nationality']
display(age.reset_index())

       index Nationality
0          0   Argentina
1          1    Portugal
2          2      Brazil
3          3       Spain
4          4     Belgium
...      ...         ...
12892  12892     England
12893  12893      Sweden
12894  12894     England
12895  12895     England
12896  12896     England

[12897 rows x 2 columns]

In [55]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

grouped_df = df.groupby('Position')['Wage'].sum()
grouped_df[grouped_df > 5000000]

Position
CAM     5500000
CB      7476000
CM      6194000
GK      8784000
LB      6096000
LM      5440000
RB      5034000
RM      5098000
ST     11873000
Name: Wage, dtype: int64

In [63]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

df.groupby(['Position'])[['Wage','Value']].mean().sort_values(['Value'])

                   Wage         Value
Position
RB          5310.126582  1.248940e+06
CB          5328.581611  1.321251e+06
LB          6083.832335  1.429032e+06
GK          5352.833638  1.502502e+06
RWB         6000.000000  1.555571e+06
CM          5805.060918  1.617465e+06
CDM         7121.562952  1.658900e+06
CF          4862.745098  1.848627e+06
LWB         5783.333333  1.931333e+06
RM          6655.352480  2.138734e+06
ST          7852.513228  2.157252e+06
LM          7472.527473  2.466174e+06
LCB         9753.056235  2.636516e+06
RDM        11282.608696  2.692717e+06
CAM         8688.783570  2.963199e+06
RCB        11270.334928  3.009055e+06
LDM        10243.243243  3.369459e+06
RW         13822.784810  3.495738e+06
LW         12169.421488  3.603099e+06
RS         13482.456140  3.645833e+06
RCM        13504.166667  4.217604e+06
LCM        13497.854077  4.318090e+06
LS         15421.487603  5.848430e+06
RAM        11800.000000  8.345000e+06
LAM        61000.000000  1.324583e+07
RF        119000.000000  2.636583e+07
LF         75125.000000  2.736250e+07

In [110]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

group = df.groupby('Club')['Wage'].agg(['mean', 'median'])
group[group['mean'] == group['median']].sort_values(['mean'])
len(group)

650

In [114]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

group = df.groupby('Club')['Wage'].sum()
group['Chelsea']

2035000

In [121]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

argent = df[(df['Nationality'] == 'Argentina') & (df['Age'] == 30)]
argent['Wage'].min()

1000

In [128]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

sort = df.loc[(df['Nationality'] == 'Argentina') & (df['Club'] == 'FC Barcelona')]
display(sort['Strength'].max(), sort['Balance'].max())

59

95

In [1]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.pivot_table(values=['Name'],
index=['Club'],
columns=['Position'],
aggfunc='count',
fill_value=0)
display(pivot)

pivot['Name']['CM']

                      Name                                 ...                 \
Position               CAM CB CDM CF CM GK LAM LB LCB LCM  ... RB RCB RCM RDM
Club                                                       ...
 SSV Jahn Regensburg     0  5   1  0  2  3   0  2   0   0  ...  2   1   0   1
1. FC Heidenheim 1846    1  3   0  0  1  2   0  2   1   0  ...  2   1   0   0
1. FC Kaiserslautern     0  3   3  0  0  3   0  2   1   0  ...  2   0   0   1
1. FC Köln               0  1   1  0  2  3   0  0   0   0  ...  1   0   0   0
1. FC Magdeburg          0  4   0  1  0  3   0  1   1   1  ...  0   1   1   0
...                    ... ..  .. .. .. ..  .. ..  ..  ..  ... ..  ..  ..  ..
Zagłębie Sosnowiec       3  2   2  0  0  3   0  3   1   0  ...  1   1   0   1
Çaykur Rizespor          1  2   5  0  0  3   0  2   1   0  ...  3   0   0   1
Örebro SK                0  4   0  0  1  3   0  0   1   1  ...  0   1   1   0
Östersunds FK            1  1   0  1  3  3   0  2   1   1  ...  1   1   0   0
Śląsk Wrocław            0  1   3  0  1  3   0  2   1   0  ...  2   1   0   1


Position              RF RM RS RW RWB ST
Club
 SSV Jahn Regensburg   0  0  0  0   0  3
1. FC Heidenheim 1846  0  3  0  0   0  2
1. FC Kaiserslautern   0  2  1  0   0  1
1. FC Köln             0  1  0  0   0  0
1. FC Magdeburg        0  3  1  2   0  1
...                   .. .. .. ..  .. ..
Zagłębie Sosnowiec     0  2  0  0   0  1
Çaykur Rizespor        0  1  0  0   0  1
Örebro SK              0  0  0  2   2  5
Östersunds FK          0  1  0  1   0  1
Śląsk Wrocław          0  2  1  0   0  2

[650 rows x 27 columns]

Club
 SSV Jahn Regensburg     2
1. FC Heidenheim 1846    1
1. FC Kaiserslautern     0
1. FC Köln               2
1. FC Magdeburg          0
                        ..
Zagłębie Sosnowiec       0
Çaykur Rizespor          0
Örebro SK                1
Östersunds FK            3
Śląsk Wrocław            1
Name: CM, Length: 650, dtype: int64

In [143]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.pivot_table(values=['Wage'],
index=['Nationality'],
columns=['Club'],
aggfunc='sum',
fill_value=0)
display(pivot)
pivot.loc['Russia']['Wage']['AS Monaco']

                            Wage                                             \
Club         SSV Jahn Regensburg 1. FC Heidenheim 1846 1. FC Kaiserslautern
Nationality
Afghanistan                    0                     0                    0
Albania                        0                     0                    0
Algeria                        0                     0                    0
Andorra                        0                     0                    0
Angola                         0                     0                    0
...                          ...                   ...                  ...
Uzbekistan                     0                     0                    0
Venezuela                      0                     0                    0
Wales                          0                     0                    0
Zambia                         0                     0                    0
Zimbabwe                       0                     0                    0

                                                                          \
Club        1. FC Köln 1. FC Magdeburg 1. FC Nürnberg 1. FC Union Berlin
Nationality
Afghanistan          0               0              0                  0
Albania              0               0              0                  0
Algeria              0               0              0                  0
Andorra              0               0              0                  0
Angola               0               0              0                  0
...                ...             ...            ...                ...
Uzbekistan           0               0              0                  0
Venezuela            0               0              0                  0
Wales                0               0              0                  0
Zambia               0               0              0                  0
Zimbabwe             0               0              0                  0

                                                   ...                    \
Club        1. FSV Mainz 05 AC Ajaccio AC Horsens  ... Wycombe Wanderers
Nationality                                        ...
Afghanistan               0          0          0  ...                 0
Albania                   0       2000          0  ...                 0
Algeria                   0          0          0  ...                 0
Andorra                   0          0          0  ...                 0
Angola                    0          0          0  ...                 0
...                     ...        ...        ...  ...               ...
Uzbekistan                0          0          0  ...                 0
Venezuela                 0          0          0  ...                 0
Wales                     0          0          0  ...              4000
Zambia                    0          0          0  ...                 0
Zimbabwe                  0          0          0  ...                 0

                                                                             \
Club        Yeni Malatyaspor Yeovil Town Yokohama F. Marinos Zagłębie Lubin
Nationality
Afghanistan                0           0                   0              0
Albania                    0           0                   0              0
Algeria                    0        1000                   0              0
Andorra                    0           0                   0              0
Angola                     0           0                   0              0
...                      ...         ...                 ...            ...
Uzbekistan                 0           0                   0              0
Venezuela                  0           0                   0              0
Wales                      0        2000                   0              0
Zambia                     0           0                   0              0
Zimbabwe                   0           0                   0              0

                                                                        \
Club        Zagłębie Sosnowiec Çaykur Rizespor Örebro SK Östersunds FK
Nationality
Afghanistan                  0               0         0             0
Albania                      0               0      1000             0
Algeria                      0               0         0             0
Andorra                      0               0         0             0
Angola                    1000               0         0             0
...                        ...             ...       ...           ...
Uzbekistan                   0               0         0             0
Venezuela                    0               0         0             0
Wales                        0               0         0             0
Zambia                       0               0         0             0
Zimbabwe                     0               0         0             0


Club        Śląsk Wrocław
Nationality
Afghanistan             0
Albania                 0
Algeria                 0
Andorra                 0
Angola                  0
...                   ...
Uzbekistan              0
Venezuela               0
Wales                   0
Zambia                  0
Zimbabwe                0

[156 rows x 650 columns]

61000

In [171]:
import pandas as pd
df = pd.read_csv('data_sf.csv')

pivot = df.pivot_table(values=['SprintSpeed'],
index=['Club'],
columns=['Position'],
aggfunc='mean',
fill_value=0)
display(pivot)

pivot['SprintSpeed']['ST'].sort_values(ascending=False).head(3)

                      SprintSpeed                                         \
Position                      CAM         CB        CDM    CF         CM
Club
 SSV Jahn Regensburg          0.0  46.600000  82.000000   0.0  61.000000
1. FC Heidenheim 1846        68.0  61.333333   0.000000   0.0  68.000000
1. FC Kaiserslautern          0.0  59.000000  65.666667   0.0   0.000000
1. FC Köln                    0.0  60.000000  32.000000   0.0  68.500000
1. FC Magdeburg               0.0  60.000000   0.000000  64.0   0.000000
...                           ...        ...        ...   ...        ...
Zagłębie Sosnowiec           73.0  46.500000  66.000000   0.0   0.000000
Çaykur Rizespor              74.0  58.000000  62.800000   0.0   0.000000
Örebro SK                     0.0  60.750000   0.000000   0.0  63.000000
Östersunds FK                67.0  76.000000   0.000000  77.0  56.333333
Śląsk Wrocław                 0.0  62.000000  66.666667   0.0  72.000000

                                                             ...             \
Position                      GK LAM         LB   LCB   LCM  ...         RB
Club                                                         ...
 SSV Jahn Regensburg   33.000000   0  76.000000   0.0   0.0  ...  68.500000
1. FC Heidenheim 1846  41.000000   0  60.000000  55.0   0.0  ...  80.500000
1. FC Kaiserslautern   42.666667   0  68.000000  45.0   0.0  ...  71.500000
1. FC Köln             33.000000   0   0.000000   0.0   0.0  ...  70.000000
1. FC Magdeburg        39.333333   0  69.000000  60.0  66.0  ...   0.000000
...                          ...  ..        ...   ...   ...  ...        ...
Zagłębie Sosnowiec     39.000000   0  60.333333  61.0   0.0  ...  68.000000
Çaykur Rizespor        47.000000   0  75.500000  63.0   0.0  ...  68.666667
Örebro SK              33.666667   0   0.000000  58.0  44.0  ...   0.000000
Östersunds FK          32.666667   0  74.500000  53.0  62.0  ...  54.000000
Śląsk Wrocław          30.666667   0  78.500000  59.0   0.0  ...  50.500000


Position                RCB RCM   RDM RF         RM  RS    RW   RWB         ST
Club
 SSV Jahn Regensburg   57.0   0  65.0  0   0.000000   0   0.0   0.0  61.666667
1. FC Heidenheim 1846  59.0   0   0.0  0  78.333333   0   0.0   0.0  69.000000
1. FC Kaiserslautern    0.0   0  55.0  0  82.500000  69   0.0   0.0  79.000000
1. FC Köln              0.0   0   0.0  0  77.000000   0   0.0   0.0   0.000000
1. FC Magdeburg        68.0  71   0.0  0  76.000000  53  80.5   0.0  44.000000
...                     ...  ..   ... ..        ...  ..   ...   ...        ...
Zagłębie Sosnowiec     58.0   0  62.0  0  71.000000   0   0.0   0.0  75.000000
Çaykur Rizespor         0.0   0  32.0  0  85.000000   0   0.0   0.0  48.000000
Örebro SK              62.0  66   0.0  0   0.000000   0  77.5  72.0  72.200000
Östersunds FK          73.0   0   0.0  0  85.000000   0  67.0   0.0  52.000000
Śląsk Wrocław          58.0   0  69.0  0  68.000000  81   0.0   0.0  54.000000

[650 rows x 27 columns]

Club
Vitória      91.0
Sydney FC    88.0
CD Lugo      87.0
Name: ST, dtype: float64

In [5]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')


display(movies.describe(include = ['object']))

display(movies.head(10))

len(movies['genres'].unique())

                  title genres
count              9742   9742
unique             9737    951
top     Saturn 3 (1980)  Drama
freq                  2   1053

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

951

In [134]:
import pandas as pd
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

joined = ratings.merge(movies, on='movieId', how='left')

display (joined)

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
...,...,...,...,...,...,...
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller
100833,610,168250,5.0,1494273047,Get Out (2017),Horror
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller

In [ ]:
import pandas as pd
ratings = pd.read_csv('ratings_example.txt', sep = '\t')
movies = pd.read_csv('movies_example.txt', sep = '\t')

#movies.drop_duplicates(subset = 'movieId', keep = 'last', inplace = True)
display(ratings)
display(movies)

joined = ratings.merge(movies, on = 'movieId', how = 'right')
#joined.drop_duplicates(subset = 'movieId', keep = 'last', inplace = True)
joined

In [93]:
import pandas as pd

items_dict = {

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 100132, 312394], 

    'vendor': ['Samsung', 'LG', 'Apple', 'Apple', 'LG', 'Apple', 'Samsung', 'Samsung', 'LG', 'ZTE'],

    'stock_count': [54, 33, 122, 18, 102, 43, 77, 143, 60, 19]

}

purchase_log = {

    'purchase_id': [101, 101, 101, 112, 121, 145, 145, 145, 145, 221],

    'item_id': [417283, 849734, 132223, 573943, 19475, 3294095, 382043, 302948, 103845, 100132], 

    'price': [13900, 5330, 38200, 49990, 9890, 33000, 67500, 34500, 89900, 11400]

}

items_df = pd.DataFrame(items_dict)
purchase_df = pd.DataFrame(purchase_log)

joined = items_df.merge(purchase_df, on = 'item_id', how = 'inner')
joined['Total'] = 0
display(joined)

total = []
joined['Total'] = joined['stock_count']*joined['price']

display (joined.loc[joined['Total'] == joined['Total'].max()])
display (joined['Total'].sum())

   item_id   vendor  stock_count  purchase_id  price  Total
0   417283  Samsung           54          101  13900      0
1   849734       LG           33          101   5330      0
2   132223    Apple          122          101  38200      0
3   573943    Apple           18          112  49990      0
4    19475       LG          102          121   9890      0
5  3294095    Apple           43          145  33000      0
6   382043  Samsung           77          145  67500      0
7   302948  Samsung          143          145  34500      0
8   100132       LG           60          221  11400      0

   item_id   vendor  stock_count  purchase_id  price    Total
6   382043  Samsung           77          145  67500  5197500

19729490

In [123]:
import os

files = os.listdir('data')
files

['ratings_3.txt',
 'ratings_8.txt',
 'ratings_1.txt',
 'ratings_5.txt',
 'ratings_6.txt',
 'ratings_9.txt',
 'ratings_2.txt',
 'ratings_10.txt',
 'ratings_4.txt',
 'addition',
 'ratings_7.txt']

In [110]:
files = ['setup.py', 'ratings.txt', 'stock_stats.txt', 'movies.txt', 'run.sh', 'game_of_thrones.mov']
data =[]
for file in files:
    if file[-3:] == 'txt':
        data.append(file)
        
print (data)

['ratings.txt', 'stock_stats.txt', 'movies.txt']

In [118]:
import os

display (os.walk('data'))
for root, dirs, files in os.walk('data'):
    print(root, dirs, files)
print (files)

data ['addition'] ['ratings_3.txt', 'ratings_8.txt', 'ratings_1.txt', 'ratings_5.txt', 'ratings_6.txt', 'ratings_9.txt', 'ratings_2.txt', 'ratings_10.txt', 'ratings_4.txt', 'ratings_7.txt']
data/addition [] ['ratings.csv']
['ratings.csv']

In [131]:
import os
import pandas as pd

data = pd.DataFrame(columns = ['userId', 'movieId', 'rating', 'timestamp'])
files = os.listdir('data')
for filename in files:
    if filename[-3:] == 'txt':
        temp = pd.read_csv( os.path.join('data', filename), names = ['userId', 'movieId', 'rating', 'timestamp'] ) 
        data = pd.concat([data, temp])
display (data)

     userId movieId  rating   timestamp
0       133   72011     0.5  1416149287
1       133   72395     0.5  1416151053
2       133   72641     4.0  1416148353
3       133   73290     5.0  1416149511
4       133   73321     1.5  1416152072
...     ...     ...     ...         ...
9995    483    1240     5.0  1465387341
9996    483    1258     4.0  1465389633
9997    483    1259     5.0  1465387564
9998    483    1291     4.0  1465387282
9999    483    1527     3.0  1465387443

[100004 rows x 4 columns]

In [148]:
import pandas as pd

ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')
merged = ratings.merge(movies, on='movieId', how='outer')

movies.loc[(movies['movieId']==3456)]
ratings.loc[(ratings['movieId']==3456)]

Empty DataFrame
Columns: [userId, movieId, rating, timestamp]
Index: []

In [18]:
import pandas as pd
sample = pd.read_csv('sample.xls')
columns = []
new_columns = []

columns = sample.columns
for column in columns:
    new_columns.append(column.lower())
sample.columns = new_columns

In [20]:
import pandas as pd

log = pd.read_csv('log.csv', header = None)
log.columns = ['user_id', 'time', 'bet', 'win']

log

                              user_id                  time      bet      win
0    Запись пользователя № - user_919  [2019-01-01 14:06:51      NaN      NaN
1    Запись пользователя № - user_973  [2019-01-01 14:51:16      NaN      NaN
2    Запись пользователя № - user_903  [2019-01-01 16:31:16      NaN      NaN
3    Запись пользователя № - user_954  [2019-01-01 17:17:51      NaN      NaN
4    Запись пользователя № - user_954  [2019-01-01 21:31:18      NaN      NaN
..                                ...                   ...      ...      ...
995  Запись пользователя № - user_984   [2019-04-20 9:59:58   9754.0      NaN
996                            #error                   NaN  10054.0  29265.0
997                            #error                   NaN  10454.0      NaN
998                            #error                   NaN   1000.0      NaN
999                            #error                   NaN  10754.0      NaN

[1000 rows x 4 columns]

In [51]:
import pandas as pd

users = pd.read_csv ('users.csv', encoding="koi8_r", sep = '\t', skiprows = 1, names = ['user_id', 'email', 'geo'])
users

     user_id                     email          geo
0   User_943       Accumanst@gmail.com       Ижевск
1   User_908         Advismowr@mail.ru       Ижевск
2   User_962           Anachso@ukr.net    Краснодар
3   User_973          Antecia@inbox.ru        Пермь
4   User_902        Balliaryva@ukr.net          NaN
..       ...                       ...          ...
95  User_959  UpdatesCurious@yahoo.com       Тюмень
96  User_901        V2artierso@mail.ru  Арзангелтск
97  User_970          Vashoterlo@bk.ru      Воронеж
98  User_965       Visuareda@yahoo.com      Воронеж
99  User_921              Aavast@ya.ru       Ижевск

[100 rows x 3 columns]