Стартуем

In [1]:
import pandas as pd

# Определяю функцию, которая принимает на вход серию строк (режисеры, жанры, актеры) 
# и возвращает список уникальных значений
def unique_list(input_list):
    common_list = []
    unique_list =[]
    for string in input_list:
        spl = string.split('|')
        for st in spl:
            common_list.append(st)

    for string in common_list:
        if string in unique_list:
            continue
        else:
            unique_list.append(string)

    return unique_list

In [2]:
data = pd.read_csv('data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1890 entries, 0 to 1889
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1890 non-null   object
 1   popularity            1890 non-null   float64
 2   budget                1890 non-null   int64
 3   revenue               1890 non-null   int64
 4   original_title        1890 non-null   object
 5   cast                  1890 non-null   object
 6   director              1890 non-null   object
 7   tagline               1890 non-null   object
 8   overview              1890 non-null   object
 9   runtime               1890 non-null   int64
 10  genres                1890 non-null   object
 11  production_companies  1890 non-null   object
 12  release_date          1890 non-null   object
 13  vote_count            1890 non-null   int64
 14  vote_average          1890 non-null   float64
 15  release_year          1890 non-null   int64
dtypes: float64(2), int64(5), object(9)
memory usage: 236.4+ KB

Вопрос 1

У какого фильма из списка самый большой бюджет?

In [4]:
data[data['budget'] == data['budget'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010

Вопрос 2

Какой из фильмов самый длительный (в минутах)?

In [5]:
data[data['runtime'] == data['runtime'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
1158,tt0279111,0.469518,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,23,5.8,2003

Вопрос 3

Какой из фильмов самый короткий (в минутах)?

In [6]:
data[data['runtime'] == data['runtime'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
769,tt1449283,1.425344,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,174,6.8,2011

Вопрос 4

Какое число ближе к средней длительности фильма в датасете?

In [7]:
data['runtime'].mean()

109.65343915343915

Вопрос 5

Какое число ближе к медианной длительности фильма в датасете?

In [8]:
data['runtime'].median()

106.5

Вопрос 6

Какой самый прибыльный фильм?

In [9]:
# Модифицируем исходный датафрейм, добавляем колонку с профитом(прибылью)
data['profit'] = data['revenue'] - data['budget']
data[data['profit'] == data['profit'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
239,tt0499549,9.432768,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,8458,7.1,2009,2544505847

Вопрос 7

Какой фильм самый убыточный?

In [10]:
data[data['profit'] == data['profit'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
491,tt1032751,0.25054,425000000,11087569,The Warrior's Way,Kate Bosworth|Jang Dong-gun|Geoffrey Rush|Dann...,Sngmoo Lee,Assassin. Hero. Legend.,An Asian assassin (Dong-gun Jang) is forced to...,100,Adventure|Fantasy|Action|Western|Thriller,Boram Entertainment Inc.,12/2/2010,74,6.4,2010,-413912431

Вопрос 8

У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [11]:
len(data[data['profit'] > 0])

1478

Вопрос 9

Какой фильм оказался самым кассовым в 2008 году?

In [12]:
data2=data[(data['release_year'] == 2008)]
data2[data2['revenue'] == data2['revenue'].max()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
600,tt0468569,8.466668,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8432,8.1,2008,816921825

Вопрос 10

Самый убыточный фильм за период с 2012 по 2014 гг. (включительно)?

In [13]:
data2=data[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
data2[data2['profit'] == data2['profit'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
1246,tt1210819,1.21451,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,1607,6.0,2013,-165710090

Вопрос 11

Какого жанра фильмов больше всего?

In [14]:
data['genres'].value_counts()

Comedy                                     141
Drama                                      102
Comedy|Romance                              60
Drama|Romance                               45
Comedy|Drama|Romance                        35
                                          ...
Comedy|Adventure|Family                      1
Horror|Science Fiction|Mystery|Thriller      1
Science Fiction|Mystery|Thriller             1
Science Fiction|Adventure|Mystery            1
Thriller|Action|Fantasy|Horror               1
Name: genres, Length: 653, dtype: int64

Здесь я выбрал в качестве ответа Комедии и это было неверным ответом.
После этого я понял, что жанры пересекаются.
Проверка ниже показала верность предположения:

In [15]:
print('Comedy', len(data[data['genres'].str.contains('Comedy')]))
print('Drama', len(data[data['genres'].str.contains('Drama')]))
print('Action', len(data[data['genres'].str.contains('Action')]))
print('Adventure', len(data[data['genres'].str.contains('Adventure')]))
print('Thriller', len(data[data['genres'].str.contains('Thriller')]))

Comedy 683
Drama 782
Action 583
Adventure 416
Thriller 597

Вопрос 12

Какого жанра среди прибыльных фильмов больше всего?

In [16]:
#Здесь и в нескольких задачах ниже я по сути "читерю" - я отталкиваюсь от вариантов ответов в самом задании,
#а не использую способ однозначного поиска единственного верного ответа.
#Позже я написал функцию unique_list(), спомощью которой разбирал поля и методом перебовар решал задачу поиска

data2=data[(data['profit'] > 0)]

print('Comedy', len(data2[data2['genres'].str.contains('Comedy')]))
print('Drama', len(data2[data2['genres'].str.contains('Drama')]))
print('Action', len(data2[data2['genres'].str.contains('Action')]))
print('Adventure', len(data2[data2['genres'].str.contains('Adventure')]))
print('Thriller', len(data2[data2['genres'].str.contains('Thriller')]))

Comedy 551
Drama 560
Action 444
Adventure 337
Thriller 446

Вопрос 13

Кто из режиссеров снял больше всего фильмов?

In [17]:
data['director'].value_counts()

Steven Soderbergh    13
Clint Eastwood       12
Ridley Scott         12
Shawn Levy           10
Steven Spielberg     10
                     ..
Jonas Elmer           1
Paul Tibbitt          1
James DeMonaco        1
Kevin Bray            1
Paolo Sorrentino      1
Name: director, Length: 958, dtype: int64

Вопрос 14

Кто из режиссеров снял больше всего прибыльных фильмов?

In [18]:
data2=data[(data['profit'] > 0)]
data2['director'].value_counts()

Ridley Scott              12
Clint Eastwood            10
Steven Spielberg          10
Steven Soderbergh         10
Shawn Levy                 9
                          ..
Dean Israelite             1
Sam Miller                 1
Chris Weitz|Paul Weitz     1
Stephen J. Anderson        1
David Soren                1
Name: director, Length: 774, dtype: int64

Вопрос 15

Кто из режиссеров принес больше всего прибыли?

In [19]:
total_profit = data.groupby(['director']).sum()
total_profit[total_profit['profit'] == total_profit['profit'].max()]

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year,profit
director,,,,,,,,
Peter Jackson,45.679675,1288000000,6490593685,1355,31197,58.1,16059,5202593685

Вопрос 16

Какой актер принес больше всего прибыли?

In [20]:
print('Emma Watson', data[data['cast'].str.contains('Emma Watson')]['profit'].sum())
print('Johnny Depp', data[data['cast'].str.contains('Johnny Depp')]['profit'].sum())
print('Michelle Rodriguez', data[data['cast'].str.contains('Michelle Rodriguez')]['profit'].sum())
print('Orlando Bloom', data[data['cast'].str.contains('Orlando Bloom')]['profit'].sum())
print('Rupert Grint', data[data['cast'].str.contains('Rupert Grint')]['profit'].sum())

Emma Watson 6666245597
Johnny Depp 4776417000
Michelle Rodriguez 4608031235
Orlando Bloom 5148578162
Rupert Grint 6408638290

Вопрос 17

Какой актер принес меньше всего прибыли в 2012 году?

In [21]:
data2=data[(data['release_year'] == 2012)]

print('Nicolas Cage', data2[data2['cast'].str.contains('Nicolas Cage')]['profit'].sum())
print('Danny Huston', data2[data2['cast'].str.contains('Danny Huston')]['profit'].sum())
print('Kirsten Dunst', data2[data2['cast'].str.contains('Kirsten Dunst')]['profit'].sum())
print('Jim Sturgess', data2[data2['cast'].str.contains('Jim Sturgess')]['profit'].sum())
print('Sami Gayle', data2[data2['cast'].str.contains('Sami Gayle')]['profit'].sum())

Nicolas Cage -32893443
Danny Huston -32893443
Kirsten Dunst -68109207
Jim Sturgess -23410657
Sami Gayle -32893443

Вопрос 18

Какой актер снялся в большем количестве высокобюджетных фильмов? 
Примечание: в фильмах, где бюджет выше среднего по данной выборке.

In [22]:
data2=data[(data['budget'] > data['budget'].mean())]

print('Tom Cruise', len(data2[data2['cast'].str.contains('Tom Cruise')]))
print('Mark Wahlberg', len(data2[data2['cast'].str.contains('Mark Wahlberg')]))
print('Matt Damon', len(data2[data2['cast'].str.contains('Matt Damon')]))
print('Angelina Jolie', len(data2[data2['cast'].str.contains('Angelina Jolie')]))
print('Adam Sandler', len(data2[data2['cast'].str.contains('Adam Sandler')]))

Tom Cruise 15
Mark Wahlberg 14
Matt Damon 18
Angelina Jolie 16
Adam Sandler 17

Вопрос 19

В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
data_Nicolas=data[data['cast'].str.contains('Nicolas Cage')]


print('Crime', len(data_Nicolas[data_Nicolas['genres'].str.contains('Crime')]))
print('Drama', len(data_Nicolas[data_Nicolas['genres'].str.contains('Drama')]))
print('Action', len(data_Nicolas[data_Nicolas['genres'].str.contains('Action')]))
print('Adventure', len(data_Nicolas[data_Nicolas['genres'].str.contains('Adventure')]))
print('Thriller', len(data_Nicolas[data_Nicolas['genres'].str.contains('Thriller')]))

Crime 10
Drama 12
Action 17
Adventure 7
Thriller 15

Вопрос 20

Какая студия сняла больше всего фильмов?

In [24]:
# Здесь я изначально допустил ошибку и делал выборку по Universal Pictures, а не по Universal.

print('Universal Pictures (Universal)', len(data[data['production_companies'].str.contains('Universal')]))
print('Paramount Pictures', len(data[data['production_companies'].str.contains('Paramount Pictures')]))
print('Columbia Pictures', len(data[data['production_companies'].str.contains('Columbia Pictures')]))
print('Warner Bros', len(data[data['production_companies'].str.contains('Warner Bros')]))
print('Twentieth Century Fox Film Corporation', len(data[data['production_companies'].str.contains('Twentieth Century Fox Film Corporation')]))

Universal Pictures (Universal) 185
Paramount Pictures 122
Columbia Pictures 163
Warner Bros 183
Twentieth Century Fox Film Corporation 109

Вопрос 21

Какая студия сняла больше всего фильмов в 2015 году?

In [25]:
data2=data[(data['release_year'] == 2015)]

print('Universal Pictures', len(data2[data2['production_companies'].str.contains('Universal Pictures')]))
print('Paramount Pictures', len(data2[data2['production_companies'].str.contains('Paramount Pictures')]))
print('Columbia Pictures', len(data2[data2['production_companies'].str.contains('Columbia Pictures')]))
print('Warner Bros', len(data2[data2['production_companies'].str.contains('Warner Bros')]))
print('Twentieth Century Fox Film Corporation', len(data2[data2['production_companies'].str.contains('Twentieth Century Fox Film Corporation')]))

Universal Pictures 11
Paramount Pictures 7
Columbia Pictures 7
Warner Bros 12
Twentieth Century Fox Film Corporation 8

Вопрос 22

Какая студия заработала больше всего денег в жанре комедий за все время?

In [26]:
#Здесь перешел к парсингу списка компаний и определения уникальных наименований

comedy_df = data[data['genres'].str.contains('Comedy')]
companies = unique_list(comedy_df['production_companies'])
company_revenue = {}
revenue_list = []

for company in companies:
    company_df = comedy_df[comedy_df['production_companies'].str.contains(company)]
    total_revenue = company_df['revenue'].sum()
    revenue_list.append(total_revenue)


new_df = pd.DataFrame({'company' : companies, 'total_revenue':revenue_list })
new_df[new_df['total_revenue'] == new_df['total_revenue'].max()]

/home/nazgul/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

       company  total_revenue
551  Universal    13133749034

Тут ниже я на всякий случай проверяю, что функция и алгоритм отрабатывают корректно
и смотрю выручку по всем компаниям из предложенного списка ответов:

In [27]:
comedy_df = data[data['genres'].str.contains('Comedy')]

print('Warner Bros', comedy_df[comedy_df['production_companies'].str.contains('Warner Bros')]['revenue'].sum())
print('Universal', comedy_df[comedy_df['production_companies'].str.contains('Universal')]['revenue'].sum())
print('Columbia Pictures', comedy_df[comedy_df['production_companies'].str.contains('Columbia Pictures')]['revenue'].sum())
print('Paramount Pictures', comedy_df[comedy_df['production_companies'].str.contains('Paramount Pictures')]['revenue'].sum())
print('Walt Disney', comedy_df[comedy_df['production_companies'].str.contains('Walt Disney')]['revenue'].sum())

Warner Bros 7355328916
Universal 13133749034
Columbia Pictures 12170105266
Paramount Pictures 5195625722
Walt Disney 11985933215

Вопрос 23

Какая студия заработала больше всего денег в 2012 году?

In [28]:
enquir_df = data[data['release_year'] == 2012]
companies = unique_list(data['production_companies'])
company_revenue = {}
revenue_list = []

for company in companies:
    company_df = enquir_df[enquir_df['production_companies'].str.contains(company)]
    total_revenue = company_df['revenue'].sum()
    revenue_list.append(total_revenue)


new_df = pd.DataFrame({'company' : companies, 'total_revenue':revenue_list })
new_df[new_df['total_revenue'] == new_df['total_revenue'].max()]

/home/nazgul/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

              company  total_revenue
34  Columbia Pictures     3468406608

Вопрос 24

Самый убыточный фильм от Paramount Pictures?

In [29]:
paramaunt = data[data['production_companies'].str.contains('Paramount Pictures')]
paramaunt[paramaunt['profit'] == paramaunt['profit'].min()]

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,profit
926,tt0267626,0.72233,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,146,6.0,2002,-64831034

Вопрос 25

Какой самый прибыльный год (в какой год студии заработали больше всего)?

In [30]:
data.groupby(['release_year'])['revenue'].sum().sort_values().tail(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

Вопрос 26

Какой самый прибыльный год для студии Warner Bros?

In [31]:
Warner = data[data['production_companies'].str.contains('Warner Bros')]
Warner.groupby(['release_year'])['revenue'].sum().sort_values().tail(1)

release_year
2014    3243064519
Name: revenue, dtype: int64

Вопрос 27

В каком месяце за все годы суммарно вышло больше всего фильмов?

In [32]:
#Здесь вычленяю месяц из даты и добавляю отдельным столбцом к датафрейму
month_list = []
for date in data['release_date']:
    dt = date.split('/')
    month_list.append(int(dt[0]))
        
data['release_month'] = month_list
data['release_month'].value_counts()

9     227
12    191
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: release_month, dtype: int64

Вопрос 28

Сколько суммарно вышло фильмов летом (за июнь, июль, август)?

In [33]:
len(data[(data['release_month'] == 6) | (data['release_month'] == 7) | (data['release_month'] == 8)])

450

Вопрос 29

Какой режиссер выпускает (суммарно по годам) больше всего фильмов зимой?

In [34]:
winter_df = data[(data['release_month'] == 12) | (data['release_month'] == 1) | (data['release_month'] == 2)]
directors = unique_list(data['director'])
films=[]

for director in directors:
    director_df = winter_df[winter_df['director'].str.contains(director)]
    total_films = len(director_df)
    films.append(total_films)

d = {'director' : directors, 'number of films':films }
new_df = pd.DataFrame(d)

new_df[new_df['number of films'] == new_df['number of films'].max()]

          director  number of films
128  Peter Jackson                7

Вопрос 30

Какой месяц чаще всего самый прибыльный в году?

In [35]:
pivot = data.pivot_table(values=['profit'],
index=['release_month'],
columns=['release_year'],
aggfunc='sum')

monthes = []
for year in range(2000,2016):
    a = pivot['profit'][year].argmax()+1
    monthes.append(a)
month_series = pd.Series(monthes)
month_series.value_counts()

6     7
12    4
5     4
7     1
dtype: int64

Вопрос 31

Названия фильмов какой студии в среднем самые длинные по количеству символов?

In [36]:
title_len= []
title_len_list = []
for title in data['original_title']:
    title_len.append(len(title))
data['title_len'] = title_len



for company in companies:
    company_df = data[data['production_companies'].str.contains(company)]
    mean_len = company_df['title_len'].mean()
    title_len_list.append(mean_len)

new_df = pd.DataFrame({'company' : companies, 'mean_title_len':title_len_list })
new_df[new_df['mean_title_len']== new_df['mean_title_len'].max()]

/home/nazgul/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                      company  mean_title_len
1506  Four By Two Productions            83.0

Вопрос 32

Названия фильмов какой студии в среднем самые длинные по количеству слов?

In [37]:
title_num= []
title_num_list = []
for title in data['original_title']:
    title_num.append(len(title.split(' ')))
data['title_word_count'] = title_num



for company in companies:
    company_df = data[data['production_companies'].str.contains(company)]
    mean_len = company_df['title_word_count'].mean()
    title_num_list.append(mean_len)


new_df = pd.DataFrame({'company' : companies, 'mean_title_words':title_num_list })
new_df[new_df['mean_title_words']== new_df['mean_title_words'].max()]

/home/nazgul/anaconda3/lib/python3.7/site-packages/pandas/core/strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

                      company  mean_title_words
1506  Four By Two Productions              12.0

Вопрос 33

Сколько разных слов используется в названиях фильмов (без учета регистра)?

In [38]:
title_words = []
for title in data['original_title']:
    for word in title.split(' '):
        title_words.append(word.lower())
words_df = pd.DataFrame(title_words)
words_df.nunique()

0    2462
dtype: int64

Вопрос 34

Какие фильмы входят в 1 % лучших по рейтингу?

In [39]:
#Тут я задал изначальный список фильмов, обозначенных в поставноке задачи. 

films_list = ['Inside Out','Gone Girl', '12 Years a Slave',
            'BloodRayne', 'The Adventures of Rocky and Bullwinkle',
            'The Lord of the Rings: The Return of the King', 'Upside Down',
            '300', 'Lucky Number Slevin']

top_rating = data.sort_values('vote_average', ascending=False).head(19)
top_status = []

for films in films_list:
    if len(top_rating[top_rating['original_title'].str.contains(films)]) > 0:
        top_status.append('top')
    else:
        top_status.append('not top')
top_df = pd.DataFrame ({'films_list' : films_list, 'top_status': top_status})
top_df[top_df['top_status'] == 'top']

#Из изначального списка четыре входят в топ.

                                      films_list top_status
0                                     Inside Out        top
1                                      Gone Girl        top
2                               12 Years a Slave        top
5  The Lord of the Rings: The Return of the King        top

Вопрос 35

Какие актеры чаще всего снимаются в одном фильме вместе?

In [40]:
#Решать задачу решил путем составления датафрейма, где по осям шли все уникальные имена актеров. 
#Далее, для каждой пары актеров я делал выборку в исходном датафрейме и, если вхождение имело место быть,
#то ячейка в датафрейме заполнялась кол-вом фильмов, к которых снялась пара актеров.
#Но такой расчет для всего списка актеров(более 3400) по подсчетам занял бы до 8 часов.
#Поэтому я ограничил список актеров списком из вариантов ответов.


actors = ['Johnny Depp', 'Helena Bonham Carter', 'Hugh Jackman', 
          'Ian McKellen', 'Vin Diesel', 'Paul Walker', 
          'Adam Sandler', 'Kevin James', 'Daniel Radcliffe', 'Rupert Grint']
actors_pairs_df = pd.DataFrame(index = actors, columns = actors)
display(actors_pairs_df.head(5))

,Johnny Depp,Helena Bonham Carter,Hugh Jackman,Ian McKellen,Vin Diesel,Paul Walker,Adam Sandler,Kevin James,Daniel Radcliffe,Rupert Grint
Johnny Depp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Helena Bonham Carter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Hugh Jackman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ian McKellen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Vin Diesel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
actors_pairs_df = pd.DataFrame(index = actors, columns = actors)
actors_1 = actors
actors_2 = actors

for actor_1 in actors_1:
    for actor_2 in actors_2:
        if actor_1 != actor_2:
            pair_num = len (data[(data['cast'].str.contains(actor_1)) & (data['cast'].str.contains(actor_2))])
            actors_pairs_df[actor_1][actor_2] = pair_num
actors_pairs_df

,Johnny Depp,Helena Bonham Carter,Hugh Jackman,Ian McKellen,Vin Diesel,Paul Walker,Adam Sandler,Kevin James,Daniel Radcliffe,Rupert Grint
Johnny Depp,NaN,6,0,0,0,0,0,0,0,0
Helena Bonham Carter,6,NaN,0,0,0,0,0,0,1,1
Hugh Jackman,0,0,NaN,5,0,0,0,0,0,0
Ian McKellen,0,0,5,NaN,0,0,0,0,0,0
Vin Diesel,0,0,0,0,NaN,5,0,0,0,0
Paul Walker,0,0,0,0,5,NaN,0,0,0,0
Adam Sandler,0,0,0,0,0,0,NaN,5,0,0
Kevin James,0,0,0,0,0,0,5,NaN,0,0
Daniel Radcliffe,0,1,0,0,0,0,0,0,NaN,8
Rupert Grint,0,1,0,0,0,0,0,0,8,NaN

Вопрос 36

У какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

In [42]:
directors = ['Quentin Tarantino', 'Steven Soderbergh', 'Robert Rodriguez', 'Christopher Nolan', 'Clint Eastwood']

ratio_list = []
for director in directors:
    director_df = data[data['director'].str.contains(director)]
    ratio = len (director_df[director_df['profit'] > 0]) / len(director_df)
    ratio_list.append(ratio)


new_df = pd.DataFrame({'director' : directors, 'ratio':ratio_list })
new_df.sort_values('ratio', ascending=False).head(2)

            director     ratio
3  Christopher Nolan  1.000000
0  Quentin Tarantino  0.857143